<nav aria-label="breadcrumb {{style}}">

    <ol class="breadcrumb">
        {{#each items as |item|}}
            {{#unless @last}}
                <li class="breadcrumb-item"><a href="{{item.url}}">{{item.label}}</a></li>
            {{else}}
                <li class="breadcrumb-item active" aria-current="page">{{item.label}}</li>
            {{/unless}}
        {{/each}}

    </ol>
</nav>
