
<div class="card mb-3 {{style}}">
    <div class="row g-0">
        <div class="col-md-4">
            {{#if item.image}}
                <img src="{{item.image}}" class="img-fluid rounded-start" alt="{{item.title}}">
            {{/if}}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                {{#if item.title}}
                    <h5 class="card-title">{{item.title}}</h5>
                {{/if}}

                {{#if item.subtitle}}
                    <h6 class="card-subtitle mb-2 text-muted">{{item.subtitle}}</h6>
                {{/if}}

                {{#if item.summary}}
                    <p class="card-text">{{item.summary}}</p>
                {{/if}}

                {{#each item.links as |link|}}
                    <a href="{{link.url}}" class="btn btn-{{fallback link.type "link"}}">
                        {{link.label}}
                    </a>
                {{/each}}

                {{#if item.link}}
                    <a href="{{item.link}}" class="stretched-link"></a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
